*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.home-hero{
    width:70%;
    /* min-height: 70vh; */
    /* background-image: url(src/assets/Hero-img/smokebg.png); */
}
.main-home{
    display: flex;
    width: 100%;
    min-height:100vh;
}
@media(max-width:1099px){
    .home-hero{
        min-width: 100%;
        /* height: 100% !important; */
        display: flex !important;
        justify-content: space-around !important;
        /* background-color: blueviolet !important; */
    }
}