* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}
/* body { */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1208%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1209%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1041.229%2c526.051C1062.076%2c525.889%2c1079.492%2c511.553%2c1089.505%2c493.267C1099.099%2c475.746%2c1099.057%2c455.055%2c1089.799%2c437.354C1079.75%2c418.142%2c1062.901%2c401.578%2c1041.229%2c400.971C1018.675%2c400.339%2c998.318%2c414.582%2c987.707%2c434.494C977.683%2c453.305%2c980.883%2c475.625%2c991.64%2c494.026C1002.284%2c512.233%2c1020.14%2c526.215%2c1041.229%2c526.051' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M492.518%2c640.622C541.166%2c644.31%2c586.061%2c612.616%2c609.194%2c569.661C631.227%2c528.75%2c625.862%2c478.898%2c600.627%2c439.881C577.466%2c404.071%2c535.15%2c390.411%2c492.518%2c389.265C447.252%2c388.048%2c395.481%2c394.004%2c373.85%2c433.785C352.738%2c472.611%2c380.936%2c515.688%2c402.929%2c554.022C425.082%2c592.634%2c448.129%2c637.257%2c492.518%2c640.622' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1289.049%2c280.307C1307.082%2c279.623%2c1319.601%2c264.741%2c1328.91%2c249.281C1338.635%2c233.13%2c1348.274%2c213.844%2c1338.929%2c197.47C1329.537%2c181.013%2c1307.929%2c177.82%2c1289.049%2c179.438C1273.063%2c180.808%2c1260.538%2c191.289%2c1252.062%2c204.913C1242.936%2c219.581%2c1235.974%2c237.009%2c1243.583%2c252.518C1251.968%2c269.609%2c1270.026%2c281.029%2c1289.049%2c280.307' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M144.183%2c172.339C170.14%2c170.633%2c188.813%2c150.927%2c202.59%2c128.862C217.554%2c104.897%2c233.862%2c75.988%2c219.56%2c51.622C205.346%2c27.405%2c172.203%2c27.522%2c144.183%2c29.354C120.072%2c30.93%2c97.708%2c40.482%2c84.14%2c60.475C68.451%2c83.593%2c57.557%2c112.909%2c70.77%2c137.526C84.498%2c163.103%2c115.218%2c174.243%2c144.183%2c172.339' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1008.982%2c617.88C1040.743%2c619.19%2c1075.308%2c609.754%2c1090.275%2c581.71C1104.689%2c554.703%2c1089.598%2c523.543%2c1073.089%2c497.763C1058.217%2c474.539%2c1036.559%2c454.491%2c1008.982%2c454.762C981.784%2c455.03%2c960.736%2c475.514%2c947.024%2c499.004C933.17%2c522.736%2c925.828%2c551.083%2c938.529%2c575.452C952.109%2c601.507%2c979.625%2c616.669%2c1008.982%2c617.88' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M956.891%2c419.451C988.691%2c420.084%2c1009.525%2c389.937%2c1025.046%2c362.175C1040.073%2c335.297%2c1052.535%2c303.156%2c1036.661%2c276.77C1021.098%2c250.9%2c987.061%2c247.753%2c956.891%2c248.882C929.166%2c249.919%2c900.656%2c258.322%2c886.83%2c282.375C873.041%2c306.363%2c880.684%2c334.916%2c893.277%2c359.553C907.484%2c387.349%2c925.681%2c418.83%2c956.891%2c419.451' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M953.555%2c93.647C979.844%2c95.163%2c1006.104%2c83.117%2c1019.304%2c60.332C1032.534%2c37.495%2c1029.141%2c9.205%2c1015.6%2c-13.45C1002.431%2c-35.481%2c979.213%2c-50.362%2c953.555%2c-49.667C928.954%2c-49.001%2c908.454%2c-32.059%2c897.068%2c-10.241C886.533%2c9.946%2c888.872%2c33.433%2c899.749%2c53.437C911.212%2c74.52%2c929.597%2c92.265%2c953.555%2c93.647' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1329.089%2c194.178C1344.216%2c194.569%2c1357.498%2c184.894%2c1365.032%2c171.771C1372.532%2c158.708%2c1373.624%2c142.7%2c1366.149%2c129.623C1358.62%2c116.452%2c1344.246%2c108.234%2c1329.089%2c108.893C1314.907%2c109.509%2c1303.943%2c120.119%2c1297.219%2c132.62C1290.892%2c144.383%2c1290.083%2c158.132%2c1296.224%2c169.994C1302.926%2c182.94%2c1314.516%2c193.802%2c1329.089%2c194.178' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M387.802%2c302.769C418.127%2c303.827%2c445.912%2c284.31%2c459.443%2c257.151C471.749%2c232.451%2c462.035%2c204.792%2c448.633%2c180.669C434.695%2c155.581%2c416.498%2c128.658%2c387.802%2c128.2C358.605%2c127.734%2c336.798%2c152.668%2c323.513%2c178.672C311.522%2c202.141%2c312.207%2c229.034%2c324.33%2c252.435C337.643%2c278.132%2c358.879%2c301.759%2c387.802%2c302.769' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1208'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1209'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0)' offset='0.96'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
/* } */
/*  */
.light-theme {
  background-color: black !important;
  color: white !important;
  border: initial;
}
.dark-theme {
  background-color: white !important;
  color: black !important;
  border:initial;
}

/* Spinner Css */

.contain-spinner {
  min-height: 100vh !important;
}

.spinnerContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #c70e0e;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


/* Arrow Button */

.contain{
  position: relative;
  overflow: hidden;
}

.arrow-button{
  font-size: 25px;
  color: black;
  width: 45px;

  height: 45px;
  opacity: 0.75;
  border-radius: 50%;
  /* position: absolute; */
  cursor: pointer;
  /* bottom: 1.7em; */
  right: 33px;
  animation: bounce_513 1s infinite;
}
.arrow-link img{
  object-fit: cover;
  filter: drop-shadow(1px 0px 2px red);
}
@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
/* @media(max-width:850px){
  .arrow-button{
    position: fixed;
    right: 10px;
    bottom: 55px;
  }
} */



/* Particle Js */


